Server:
Username	cfritsch_bastardclass
Password	(your member password)
IP Address  208.94.118.180

command to ssh to server from terminal
ssh cfritsch_bastardclass@ssh.phx.nearlyfreespeech.net

git hub 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
