#canvascontainer {
  display: grid;
}

canvas {
  display: block;
  outline: 1px solid black;
  grid-column: 1;
  grid-row: 1;
  cursor: crosshair;
  /* opacity: 0.9; */
  width: 500px; 
  height: 500px;
}

.mainframe {
  display: flex;
  flex-direction: column;
}

.toolbar {
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

#linesize {
  border-radius: 50%;
  background-color: rgb(255, 130, 0);
  height: 15px;
  width: 15px;
  margin: auto;
  border: 1px solid black;
}

#lineview {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hiddenimage {
  display: none;
}

#triggertypes {
  display: none;
  flex-direction: row;
}

.triggerradio {
  display: none;
  flex-direction: column;
} 

.showinstructions {
  display: none;
}

.subcanvas {
  pointer-events: none;
  opacity: 0.8;
}

#setcontainer {
  display: flex;
  flex-direction: row;
  width: 500px; /* width of canvas */
  flex-wrap: wrap;
}

#setcontainer input[type="text"] {
  width: 100px;
}