canvas {
  display: block;
  outline: 1px solid black;
  /* background-image: url("bodyoutline.gif"); */
  background-size: cover;
  /* width: 700px; */
  /* height: 600px; */
}

.toolbar {
  height: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

#linesize {
  border-radius: 50%;
  background-color: red;
  height: 15px;
  width: 15px;
  margin: auto;
}

#lineview {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hiddenimage {
  display: none;
}


/* .triggertypecontainer {
  display: flex;
} */


#triggertypes {
  display: none;
}

/* .triggerlabel {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

.triggerradio {
  display: none;
  flex-direction: column;
} 

.better {
  /* background-image: url("images/better.jpg"); */
}

.worse {
  /* background-image: url("images/worse.jpg"); */
}
.better,.worse {
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  width: 10px;
  height: 10px;
}

.radio {
  /* opacity: 0; */
}

.triggerradio input {
  /* border: 10px solid red; */
  /* background-color: aqua; */
}